.generador{
    margin: 1rem;
    text-align: center;
    border-bottom: tomato solid 0.5rem;
}

.generador a{
    text-decoration: none;
    color: white
}

.artista {
    color: #6c757d;
    margin: 1rem
}

.video{
    margin-bottom: 2rem
}

.videoIndividual{
    width: 250px;
    height: 150px;
}

@media (min-width: 700px) {
    .videoIndividual{
        width: 680px;
        height: 500px;
    }
}

@media (min-width: 1000px) {
    .videoIndividual{
        width: 1000px;
        height: 600px;
    }
}