.tituloVideos{
    text-align: center;
    color: tomato
}

.videos{
    margin-bottom: 5rem;
}

.loading{
    text-align: center;
    font-size: 2rem;
}

.error{
    color: tomato;
    text-align: center;
    margin: 2rem
}


