@font-face{
  src: url(/src/fonts/Akira\ Expanded\ Demo.otf);
  font-family: akira
}

body{
  position: relative;
  background-image:url(documents/efekaka.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: akira;
}